aside {
	width: 320px;
	margin-left: 4%;
	word-break: break-all;
	@media screen and (max-width: 950px) {
		width: 100%;
		margin-bottom: 0;
		margin-left: 0;
	}
	.aside-title {
		color: $base_color;
		text-align: center;
		margin-bottom: 25px;
		font-family: $font_en;
		font-size: 1.8rem;
	}
}

.wn-list {
	margin-bottom: 80px;
	li {
		margin: 20px 0;
		background: #d1d1d17d;
		&:first-child {
			margin-top: 0;
		}
		a {
			padding: 10px;
			display: flex;
			align-items: center;
			&:hover {
				opacity: .8;
				img {
					transform:scale(1.1,1.1);
				}
			}
			picture {
				width: 123px;
				height: 82px;
				display: inherit;
				overflow:hidden;
				img {
					height: 100%;
					object-fit: cover;
					transition: all .8s ease;
				}
			}
			.wn-list-sentence {
				padding: 0 0 0 10px;
				flex: 1;
				h4 {
					color: #26272b;
					word-break: break-all;
					line-height: 1.2;
					font-family: $font_normal;
					font-weight: normal;
					font-size: .9rem;
				}
				time {
					margin-top: 6px;
					display: block;
					color: #26272b;
					font-size: .9rem;
					i {
						margin-right: 3px;
						font-size: .9rem;
					}
				}
			}
		}
	}
}

.category-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
	li {
		width: 48%;
		margin: 0 0 15px;
		a {
			padding: 15px 0;
			color: $gray2;
			background: $base_color;
			width: 100%;
			display: block;
			text-align: center;
			font-family: $font_en;
			transition: all .8s ease;
			&:hover {
				opacity: .8;
			}
		}
	}
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	li {
		margin: 0 15px 15px 0;
		a {
			padding: 15px 20px;
			color: $gray2;
			background: $base_color;
			display: block;
			text-align: center;
			font-family: $font_en;
			transition: all .8s ease;
			border-radius: 25px;
			&:hover {
				opacity: .8;
			}
		}
	}
}