<header>
  <div class="container">
    <p class="logo"><a href="{% url 'bbs:index' %}"><img src="/media/logo.svg" width="234" height="30" alt="TECH BLOG" loading="lazy"></a></p>
    <nav id="header_nav" role="navigation">
      <ul class="globalNav">
      <li><a href="{% url 'bbs:index' %}"><span>home</span></a></li>
      {% if articles or article %}
      {% for category in category_list %}<li><a href="/category/{{ category.name }}/"><span>{{ category.name }}</span></a></li>{% endfor %}
      {% endif %}
      <li class="li-icon">
        <a href="https://github.com/shim369" target="_blank">
          <i class="icon-github"></i>
          <span>github</span>
        </a>
        <!-- <a href="" target="_blank" itemprop="url"><i class="icon-instagram"></i></a> -->
      </li>
      </ul>
    </nav>
    <div class="sp_nav">
      <div class="menu-btn" id="js_btn">
      <span data-txt-open="M" data-txt-close="C"></span>
      <span data-txt-open="E" data-txt-close="L"></span>
      <span data-txt-open="N" data-txt-close="O"></span>
      <span data-txt-open="U" data-txt-close="S"></span>
      <span data-txt-close="E"></span>
      </div>
      <nav class="menu" id="js_nav">
      </nav>
    </div>
  </div>
</header>