<header>
	<div class="container">
	  <p class="logo"><a href="{% url 'bbs:index' %}"><img src="/media/logo.svg" width="234" height="30" alt="TECH BLOG"></a></p>
	  <div class="head-nav-box">
		<ul class="iconNav">
			<li class="li-icon">
				<a href="/fitness/" title="fitness">
					<i class="icon-fitness"></i>
				</a>
			</li>
			<li class="li-icon">
				<a href="{% url 'bbs:contact_form' %}" title="contact">
					<i class="icon-mail4"></i>
				</a>
			</li>
			<li class="li-icon">
				<a href="https://github.com/shim369" target="_blank" title="github">
					<i class="icon-github"></i>
				</a>
			</li>
		<!-- <li class="li-icon">
				<a href="" target="_blank" itemprop="url">
					<i class="icon-instagram"></i>
				</a>
			</li> -->
		</ul>
		<nav id="header_nav">
		  <ul class="globalNav">
		  <li><a href="{% url 'bbs:index' %}"><span>home</span></a></li>
		  {% if articles or article %}
		  {% for category in category_list %}<li><a href="/category/{{ category.name }}/"><span>{{ category.name }}</span></a></li>{% endfor %}
		  {% endif %}
		  </ul>
		</nav>
	  </div>
	  <div class="sp_nav">
		<div class="menu-btn" id="js_btn">
		<span data-txt-open="M" data-txt-close="C"></span>
		<span data-txt-open="E" data-txt-close="L"></span>
		<span data-txt-open="N" data-txt-close="O"></span>
		<span data-txt-open="U" data-txt-close="S"></span>
		<span data-txt-close="E"></span>
		</div>
		<nav class="menu" id="js_nav">
		</nav>
	  </div>
	</div>
  </header>