{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1" />
<link rel="stylesheet" href="{% static 'css/detail.css' %}" async>
<title>{{ article.title }}</title>
<meta name="description" content="{{ article.description }}" />
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="preconnect" href="//code.jquery.com">
<link rel="dns-prefetch" href="//code.jquery.com">
<link rel="canonical" href="" />
<link rel="icon" href="/media/favicon.ico" />
</head>
<body id="top">
<div class="wrapper">
{% include './_header.html' %}
<main>
  <div class="breadcrumb-box container">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{% url "bbs:index" %}">
          <span itemprop="name"><i class="icon-home3"></i>HOME</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{% url 'bbs:category' article.category %}#blog">
          <span itemprop="name">{{ article.category.name }}</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{% url 'bbs:detail' article.slug %}">
          <span itemprop="name">{{ article.title }}</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>
  </ol>
  </div>
  <div itemscope itemtype="https://schema.org/Blog">
  <div itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <section class="blog-sec">
  <div class="container">
    <p class="blog-title en">BLOG</p>
    <div class="container-inner">
    <article>
      <section class="article-sec">
          <div class="article-head">
            <p class="category"><a href="{% url 'bbs:category' article.category %}#blog">{{ article.category }}</a></p>
            <h1 itemprop="headline" class="article-title">{{ article.title }}</h1>
            <p class="date">
              <time itemprop="datePublished" datetime="{{ article.created_at|date:'Y-m-d' }}"><i class="icon-clock2"></i>{{ article.created_at|date:"Y/m/d" }}</time><time itemprop="dateModified" datetime="{{ article.updated_at|date:'Y-m-d' }}"><i class="icon-spinner11"></i>{{ article.updated_at|date:'Y/m/d' }}
              </time>
            </p>
          </div>
          <figure itemscope itemtype="http://schema.org/ImageObject" class="thumbnail">
            <a href="{% url 'bbs:detail' article.slug %}" itemprop="url" title="{{ article.title }}">
              <picture>
                <source srcset="/media/{{ article.thumbnail_image_webp }}" type="image/webp" width="868" height="400" itemprop="image">
                <img src="/media/{{ article.thumbnail_image }}" width="868" height="400" itemprop="image" alt="{{ article.category.name }}">
              </picture>
            </a>
          </figure>
          <div class="article-contents" itemprop="articleBody">
            {% autoescape off %}
            <div>{{ article.content | safe }}</div>
            {% endautoescape %}
          </div>
      </section>
    </article>
    {% include './_aside.html' %}
  </div>
  </div>
  </section>
  {% include './_author.html' %}
  </div>
</div>
</main>
{% include './_footer.html' %}
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- js -->
<!-- <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script> -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}" defer></script>
<script type="application/ld+json">{"@context": "https://schema.org","@type": "SiteNavigationElement","hasPart": [{"@type": "WebPage","name": "home","url": "https://sohtani.pythonanywhere.com/"},{"@type": "SearchResultsPage","name": "{{ article.category.name }}","url": "https://sohtani.pythonanywhere.com/category/{{ article.category.name }}"},{"@type": "SearchResultsPage","name": "github","url": "https://github.com/shim369"}]}</script>
<script type="application/ld+json">{"@context": "https://schema.org","@type": "Blog","blogPost": [{"@type": "BlogPosting","headline": "{{ article.title }}","description": "{{ article.description }}","url": "https://sohtani.pythonanywhere.com{% url 'bbs:detail' article.slug %}","mainEntityOfPage": {"@type":"WebPage","@id":"https://sohtani.pythonanywhere.com{% url 'bbs:detail' article.slug %}"},"datePublished": "{{ article.created_at|date:'Y-m-d' }}","dateModified": "{{ article.updated_at|date:'Y-m-d' }}","image": {"@type": "ImageObject","url": "https://sohtani.pythonanywhere.com/media/{{ article.thumbnail_image }}","width": "868","height": "400"},"author": {"@type": "Person","name": "S Ohtani","url": "https://github.com/shim369"},"publisher": {"@type": "Organization","name": "TECH BLOG","logo":{"@type": "ImageObject","url": "https://sohtani.pythonanywhere.com/media/logo.jpg","width": "254","height": "83"}},"articleBody": "{{ article.article_body }}"}]}</script>
<script type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type": "ListItem","position": 1,"item": {"@id": "https://sohtani.pythonanywhere.com/","name": "home"}},{"@type": "ListItem","position": 2,"item": {"@id": "https://sohtani.pythonanywhere.com/category/{{ article.category.name }}/","name": "{{ article.category.name }}"}},{"@type": "ListItem","position": 3,"item": {"@id": "https://sohtani.pythonanywhere.com{% url 'bbs:detail' article.slug %}","name": "{{ article.title }}"}}]}</script>
</body>
</html>