{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" async>
<title>TECH BLOG</title>
<meta name="description" content="It's a blog that transmits web development and a part of life." />
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="preconnect" href="//code.jquery.com">
<link rel="dns-prefetch" href="//code.jquery.com">
<link rel="canonical" href="">
<link rel="icon" href="/media/favicon.ico">
</head>
<body id="top">
<div class="wrapper">
{% include './_header.html' %}
<main itemscope itemtype="https://schema.org/Blog">
  <div itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <section class="mainv-sec">
      <div class="container">
      <div class="catch">
        <h1 class="text-animation fade-up en">WEB DEVELOPMENT <br>AND LIFE BLOG</h1>
      </div>
      <div class="slide-wrap">
        <div class="slide-box" id="slideImgs">
          <picture>
            <source srcset="/media/1.webp" type="image/webp" width="1240" height="540">
            <img src="/media/1.jpg" width="1240" height="540" alt="">
          </picture>
          <picture>
            <source srcset="/media/2.webp" type="image/webp" width="1240" height="540">
            <img src="/media/2.jpg" width="1240" height="540" alt="">
          </picture>
          <picture>
            <source srcset="/media/3.webp" type="image/webp" width="1240" height="540">
            <img src="/media/3.jpg" width="1240" height="540" alt="">
          </picture>
        </div>
      </div>
    </div>
    </section>
    <section class="blog-sec" id="blog">
      <div class="container">
        <p class="blog-title en">BLOG</p>
        <div class="container-inner">
        <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          <ul itemprop="articleBody" class="blog-card-list">
            {% for article in articles %}
            <li class="blog-card">
              <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="blog-card-img">
                <a href="{% url 'bbs:detail' article.slug %}" title="" itemprop="url" itemscope>
                <picture>
                  <source srcset="/media/{{ article.thumbnail_image }}" type="image/webp" width="280" height="150" itemprop="image">
                  <img src="/media/{{ article.thumbnail_image }}" width="280" height="150" itemprop="image" alt="">
                  </picture>
                </a>
              </div>
              <div class="blog-card-inner">
                <div class="category"><a href="{% url 'bbs:category' article.category %}#blog" itemprop="articleSection" class="en">{{ article.category }}</a></div>
                <time datetime="{{ article.created_at|date:'Y-m-d' }}" itemprop="datePublished"><i class="icon-clock2"></i>{{ article.created_at|date:"Y/m/d" }}</time>
                <h2 itemprop="name headline"><a href="{% url 'bbs:detail' article.slug %}" title="{{ article.title }}" itemprop="url">{{ article.title }}</a></h2>
                <p itemprop="description">{{ article.description| truncatechars:60 }}</p>
                <a href="{% url 'bbs:detail' article.slug %}" class="btn1" itemprop="url">READ MORE<i class="icon-circle-right"></i></a>
              </div>
            </li>
            {% endfor %}
          </ul>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}#blog">PREV</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
              <span>{{ num }}</span>
          {% else %}
              <a href="?page={{ num }}#blog">{{ num }}</a>
          {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}#blog">NEXT</a>
        {% endif %}
        </article>
        {% include './_aside.html' %}
      </div>
      </div>
    </section>
    {% include './_author.html' %}
  </div>
</main>
{% include './_footer.html' %}
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- js -->
<!-- <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script> -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}" defer></script>
<script>
$(function(){
  const slides = $("#slideImgs").find("picture");
  const slideLength = slides.length;
  let now = 0;
  let next = 1;
  const fade = 2000;
  const show = 4000;
  slides.hide();
  slides.eq(0).show();
  const slidesShow = () => {
    slides.eq(now % slideLength).fadeOut(fade).removeClass("zoom");
    slides.eq(next % slideLength).fadeIn(fade).addClass("zoom");
    now++;
    next++;
  };
  setInterval(slidesShow, show);
});
</script>
<script type="application/ld+json">{"@context": "https://schema.org","@type": "SiteNavigationElement","hasPart": [{"@type": "WebPage","name": "home","url": "https://sohtani.pythonanywhere.com/"},{"@type": "SearchResultsPage","name": "{{ article.category.name }}","url": "https://sohtani.pythonanywhere.com/category/{{ article.category.name }}"},{"@type": "SearchResultsPage","name": "github","url": "https://github.com/shim369"}]}</script>
</body>
</html>