.c-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	.c-card {
		width: calc((100% - 4%)/3);
		background: #d1d1d17d;
		margin: 0 2% 50px 0;
		position: relative;
		word-break: break-all;
		transition: all .8s ease;
		@media screen and (max-width: 1300px) {
			margin-right: 4%;
			width: 48%;
		}
		@media screen and (max-width: 520px) {
			margin-right: 0;
			width: 100%;
		}
		&:nth-of-type(3n) {
			margin-right: 0;
			@media screen and (max-width: 1300px) {
				margin-right: 4%;
			}
			@media screen and (max-width: 520px) {
				margin-right: 0;
			}
		}
		&:nth-of-type(2n) {
			@media screen and (max-width: 1300px) {
				margin-right: 0;
			}
			@media screen and (max-width: 520px) {
				margin-right: 0;
			}
		}
		&__img {
			width: 100%;
			height: 160px;
			overflow:hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all .8s ease;
				&:hover{
					transform:scale(1.1);
				}
			}
		}
		&__text {
			padding: 20px;
		}
		&__category {
			position: absolute;
			top: 0;
			left: 0;
			display: grid;
			background: $base_color;
			color: $gray2;
			padding: 5px 10px;
			font-family: $font_en;
		}
		&__time {
			color: $base_color;
			i {
				margin-right: 3px;
			}
		}
		&__title {
			line-height: 1.3;
			font-size: 1.3rem;
			margin: 15px 0 0;
			font-weight: 600;
			@media screen and (max-width: 520px) {
				height: auto;
			}
			a {
				color: $base_color;
				font-weight: normal;
				&:hover {
					opacity: .8;
				}
			}
		}
		&__description {
			line-height: 1.3;
			margin: 15px 0 0;
			color: $base_color;
			min-height: 43px;
		}
	}
}
