.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 60px;
	.pagination-Item-Link {
	  width: 50px;
	  height: 50px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;
	  overflow: hidden;
	  background: $gray2;
	  border: solid 2px $base_color;
	  font-size: 14px;
	  color: $base_color;
	  font-weight: bold;
	  transition: all .8s ease;
	  &.isActive {
		background: $base_color;
		color: $gray2;
		pointer-events: none;
	  }
	  &:not(.isActive):hover {
		background: $base_color;
		color: $gray2;
	  }
	}
	> * + * {
	  margin-left: 8px;
	}
  }