<ul class="c-pagination">
	{% if page_obj.has_previous %}
		<li class="c-pagination__item">
		<a class="c-pagination__link" href="?page={{ page_obj.previous_page_number }}">PREV</a>
		</li>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
		<li class="c-pagination__item">
		<a href="?page={{ num }}" class="c-pagination__link is-active"><span>{{ num }}</span></a>
		</li>
		{% else %}
		<li class="c-pagination__item">
			<a href="?page={{ num }}" class="c-pagination__link "><span>{{ num }}</span></a>
		</li>
		{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
		<li class="c-pagination__item">
			<a class="c-pagination__link" href="?page={{ page_obj.next_page_number }}">NEXT</a>
		</li>
	{% endif %}
</ul>