<div class="l-author">
	<div class="l-author__container">
	<p class="l-author__title">AUTHOR</p>
	<div class="l-author__inner">
		<div class="l-author__profile">
			<picture>
				<source srcset="/media/author.webp" type="image/webp" width="100" height="100">
				<img src="/media/author.jpg" width="100" height="100" alt="">
			</picture>
			<p class="l-author__name"><a href="https://github.com/shim369" target="_blank">S Ohtani</a></p>
	 	</div>
		<p class="l-author__intro">Almost 10 years have passed since I started learning web development. Learning web development has made my life more fulfilling. This is because the greatest benefit that can be obtained in the process of learning web development is that when you encounter difficulties, you acquire the attitude of actively searching for information to solve them on your own. And just as I learned a lot from the knowledge of my predecessors, I hope that by disseminating information in English, it will reach people around the world who want to learn web development. life is very short. I would be very happy if I could add even a little bit to your life by my outputting what I learned every day. Maybe the information is incorrect or outdated at times. I'll update when I find out.</p>
	</div>
	</div>
</div>