@charset "utf-8";
@font-face {
  font-family: 'MontserratSubrayada-Bold';
  font-display: swap;
  src: url('/static/fonts/MontserratSubrayada-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'icomoon';
  font-display: swap;
  src:  url('/static/fonts/icomoon.eot?8j24pb');
  src:  url('/static/fonts/icomoon.eot?8j24pb#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?8j24pb') format('truetype'),
    url('/static/fonts/icomoon.woff?8j24pb') format('woff'),
    url('/static/fonts/icomoon.svg?8j24pb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home3:before {
  content: "\e902";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-checkmark:before {
  content: "\ea10";
  padding-right: 10px;
  color: #725e51;
}
.icon-eject:before {
  content: "\ea25";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-github:before {
  content: "\eab0";
  font-size: 25px;
}
$base_width: 1400px;
$base_color: #161719;
$square_light: #4e3b2f;
$square_dark: #382b21;
$gray1: #c1c1c4;
$gray2: #dadada;
$font_normal: YuGothic,Arial,Meiryo,sans-serif;
$font_en: "MontserratSubrayada-Bold",Meiryo,sans-serif;
.en {
  font-family: $font_en;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
p,time {
  font-family: $font_normal;
}
a {
  text-decoration: none;
  font-family: $font_normal;
}
.wrapper {
  overflow-x: hidden;
  background: #1e1f21;
}
html,body {
  width: 100%;
  height: 100%;
  background: $gray1;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  @media screen and (max-width: 800px) {
    padding-right: 4%;
    padding-left: 4%;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-family: $font_en;
  background: $base_color;
  padding: 20px 0;
  @media screen and (max-width: 800px) {
    position: relative;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: inherit;
      a {
        line-height: 1;
        transition: all .8s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#header_nav {
  position: relative;
  @media screen and (max-width: 800px) {
    display: none;
  }
  .globalNav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > li {
      position: relative;
      flex: 1 0 auto;
      text-align: center;
      margin-right: 10px;
      &.li-icon {
        margin-right: 0;
        display: flex;
        justify-content: center;
        a {
          margin: 0 10px;
          padding: 10px;
          flex-direction: column;
          font-size: .7rem;
          span {
            padding-top: 8px;
          }
        }
      }
      > a {
        position: relative;
        font-size: 1.1rem;
        padding: 10px 1.5vw;
        cursor: pointer;
        color: $gray2;
        text-align: center;
        line-height: 1;
        display: flex;
        align-items: center;
        font-family: $font_en;
        transition: all .8s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 38px;
    z-index: 9999;
    display: none;
    .dropdown-li {
      border-right: 0;
      margin: 0 0 5px;
      &:not(:last-child) {
      margin-bottom: 5px;
      }
      a {
        text-align: center;
        display: block;
        background: #edecec;
        color: $base_color;
        font-size: 1rem;
        padding: 10px;
        font-family: $font_normal;
      }
      &:hover {
        a {
          color: #edecec;
          background: $base_color;
        }
      }
    }
  }
}
.sp_nav {
  display: none;
  @media screen and (max-width: 800px) {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .globalNav {
    width: 90%;
    margin-top: 80px;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $base_color;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    li {
      max-width: 400px;
      margin: 20px auto 40px;
      text-align: center;
      opacity: 0;
      .dropdown {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        .dropdown-li {
          margin: 0;
          width: 48%;
          margin-bottom: 20px;
          &:nth-last-child(2),&:last-child {
            margin-bottom: 0;
          }
          a {
            color: #edecec;
            padding: 10px;
            background: #583216;
          }
        }
      }
    }
  }
  .side-open {
    .menu {
      transition: all .8s ease;
      visibility: visible;
      opacity: 1;
      li {
        opacity: 1;
        span {
          color: #edecec;
          font-family: $font_en;
          margin-top: 5px;
        }
        a {
          text-decoration: none;
          font-size: 1.1rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          color: #edecec;
          font-family: $font_en;
        }
      }
    }
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 99999;
    background-color: $square_light;
    letter-spacing: 0;
    box-shadow: rgb(47 42 37 / 20%) 2px 2px 2px;
    span {
      color: #edecec;
      &::after {
        content: attr(data-txt-open);
      }
    }
  }
  .side-open .menu-btn span:after {
    content: attr(data-txt-close);
  }
}

main {
  margin-top: 95px;
  background: $gray1;
  @media screen and (max-width: 800px) {
    margin-top: 0;
  }
  .blog-sec {
    // background: $gray1;
	background-image: linear-gradient(158deg, rgba(84, 84, 84, 0.03) 0%, rgba(84, 84, 84, 0.03) 20%,rgba(219, 219, 219, 0.03) 20%, rgba(219, 219, 219, 0.03) 40%,rgba(54, 54, 54, 0.03) 40%, rgba(54, 54, 54, 0.03) 60%,rgba(99, 99, 99, 0.03) 60%, rgba(99, 99, 99, 0.03) 80%,rgba(92, 92, 92, 0.03) 80%, rgba(92, 92, 92, 0.03) 100%),linear-gradient(45deg, rgba(221, 221, 221, 0.02) 0%, rgba(221, 221, 221, 0.02) 14.286%,rgba(8, 8, 8, 0.02) 14.286%, rgba(8, 8, 8, 0.02) 28.572%,rgba(52, 52, 52, 0.02) 28.572%, rgba(52, 52, 52, 0.02) 42.858%,rgba(234, 234, 234, 0.02) 42.858%, rgba(234, 234, 234, 0.02) 57.144%,rgba(81, 81, 81, 0.02) 57.144%, rgba(81, 81, 81, 0.02) 71.42999999999999%,rgba(239, 239, 239, 0.02) 71.43%, rgba(239, 239, 239, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(109deg, rgba(33, 33, 33, 0.03) 0%, rgba(33, 33, 33, 0.03) 12.5%,rgba(147, 147, 147, 0.03) 12.5%, rgba(147, 147, 147, 0.03) 25%,rgba(131, 131, 131, 0.03) 25%, rgba(131, 131, 131, 0.03) 37.5%,rgba(151, 151, 151, 0.03) 37.5%, rgba(151, 151, 151, 0.03) 50%,rgba(211, 211, 211, 0.03) 50%, rgba(211, 211, 211, 0.03) 62.5%,rgba(39, 39, 39, 0.03) 62.5%, rgba(39, 39, 39, 0.03) 75%,rgba(55, 55, 55, 0.03) 75%, rgba(55, 55, 55, 0.03) 87.5%,rgba(82, 82, 82, 0.03) 87.5%, rgba(82, 82, 82, 0.03) 100%),linear-gradient(348deg, rgba(42, 42, 42, 0.02) 0%, rgba(42, 42, 42, 0.02) 20%,rgba(8, 8, 8, 0.02) 20%, rgba(8, 8, 8, 0.02) 40%,rgba(242, 242, 242, 0.02) 40%, rgba(242, 242, 242, 0.02) 60%,rgba(42, 42, 42, 0.02) 60%, rgba(42, 42, 42, 0.02) 80%,rgba(80, 80, 80, 0.02) 80%, rgba(80, 80, 80, 0.02) 100%),linear-gradient(120deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(67, 67, 67, 0.03) 14.286%, rgba(67, 67, 67, 0.03) 28.572%,rgba(134, 134, 134, 0.03) 28.572%, rgba(134, 134, 134, 0.03) 42.858%,rgba(19, 19, 19, 0.03) 42.858%, rgba(19, 19, 19, 0.03) 57.144%,rgba(101, 101, 101, 0.03) 57.144%, rgba(101, 101, 101, 0.03) 71.42999999999999%,rgba(205, 205, 205, 0.03) 71.43%, rgba(205, 205, 205, 0.03) 85.71600000000001%,rgba(53, 53, 53, 0.03) 85.716%, rgba(53, 53, 53, 0.03) 100.002%),linear-gradient(45deg, rgba(214, 214, 214, 0.03) 0%, rgba(214, 214, 214, 0.03) 16.667%,rgba(255, 255, 255, 0.03) 16.667%, rgba(255, 255, 255, 0.03) 33.334%,rgba(250, 250, 250, 0.03) 33.334%, rgba(250, 250, 250, 0.03) 50.001000000000005%,rgba(231, 231, 231, 0.03) 50.001%, rgba(231, 231, 231, 0.03) 66.668%,rgba(241, 241, 241, 0.03) 66.668%, rgba(241, 241, 241, 0.03) 83.33500000000001%,rgba(31, 31, 31, 0.03) 83.335%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(59deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 12.5%,rgba(97, 97, 97, 0.03) 12.5%, rgba(97, 97, 97, 0.03) 25%,rgba(143, 143, 143, 0.03) 25%, rgba(143, 143, 143, 0.03) 37.5%,rgba(110, 110, 110, 0.03) 37.5%, rgba(110, 110, 110, 0.03) 50%,rgba(34, 34, 34, 0.03) 50%, rgba(34, 34, 34, 0.03) 62.5%,rgba(155, 155, 155, 0.03) 62.5%, rgba(155, 155, 155, 0.03) 75%,rgba(249, 249, 249, 0.03) 75%, rgba(249, 249, 249, 0.03) 87.5%,rgba(179, 179, 179, 0.03) 87.5%, rgba(179, 179, 179, 0.03) 100%),linear-gradient(241deg, rgba(58, 58, 58, 0.02) 0%, rgba(58, 58, 58, 0.02) 25%,rgba(124, 124, 124, 0.02) 25%, rgba(124, 124, 124, 0.02) 50%,rgba(254, 254, 254, 0.02) 50%, rgba(254, 254, 254, 0.02) 75%,rgba(52, 52, 52, 0.02) 75%, rgba(52, 52, 52, 0.02) 100%),linear-gradient(90deg, #c1c1c4,#c1c1c4);
    .blog-title {
      font-size: 5rem;
      display: flex;
      align-items: center;
      margin-bottom: 80px;
      font-weight: bold;
      color: $base_color;
      font-family: $font_en;
      @media screen and (max-width: 800px) {
        font-size: 3.5rem;
        margin-bottom: 40px;
      }
      &::after {
        margin-left: .4em;
        content: "";
        flex-grow: 1;
        height: 3px;
        background: $base_color;
        display: block;
        @media screen and (max-width: 800px) {
          height: 1.7px;
        }
      }
    }
    .container {
      max-width: $base_width;
      padding-top: 80px;
      padding-bottom: 80px;
      @media screen and (max-width: 800px) {
        padding-top: 8vh;
        padding-bottom: 8vh;
      }
      .container-inner {
        display: flex;
        @media screen and (max-width: 950px) {
          flex-direction: column;
        }
        article {
          width: 72%;
          @media screen and (max-width: 950px) {
            width: 100%;
          }
        }
      }
    }
  }
}

aside {
  width: 24%;
  margin-left: 4%;
  word-break: break-all;
  @media screen and (max-width: 950px) {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }
  .aside-title {
    color: $base_color;
    text-align: center;
    margin-bottom: 25px;
    font-family: $font_en;
    font-size: 1.8rem;
  }
}
.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  li {
    width: 48%;
    margin: 0 0 15px;
    a {
      padding: 15px 20px;
      color: $gray2;
      background: $base_color;
      width: 100%;
      display: block;
      text-align: center;
      font-family: $font_en;
      transition: all .8s ease;
      &:hover {
        opacity: .8;
      }
    }
  }
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  li {
    margin: 0 15px 15px 0;
    a {
      padding: 15px 20px;
      color: $gray2;
      background: $base_color;
      display: block;
      text-align: center;
      font-family: $font_en;
      transition: all .8s ease;
      border-radius: 25px;
      &:hover {
        opacity: .8;
      }
    }
  }
}
.author-sec {
  min-height: 500px;
  padding: 80px 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $base_color;
  background-image: url(/media/bg_parallax.webp);
  @media screen and (max-width: 800px) {
    min-height: 300px;
  }
  .container {
    max-width: $base_width;
    .author-title {
      font-family: $font_en;
      color: $gray2;
      font-size: 5rem;
      margin-bottom: 80px;
      text-align: right;
      display: flex;
      align-items: center;
      @media screen and (max-width: 800px) {
        font-size: 3.5rem;
        margin-bottom: 40px;
      }
      &::before {
        margin-right: .4em;
        content: "";
        flex-grow: 1;
        height: 3px;
        background: $gray2;
        display: block;
        @media screen and (max-width: 800px) {
          height: 1.7px;
        }
      }
    }
    .author-inner {
      display: flex;
      align-items: center;
      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
      .profile {
        text-align: center;
        margin-left: 5%;
        @media screen and (max-width: 800px) {
          margin-bottom: 40px;
          margin-left: 0;
        }
        img {
          border-radius: 50%;
        }
        p {
          font-size: 1rem;
          color: $gray2;
          font-family: $font_en;
          padding: 5px 0 0;
        }
        a {
          color: $gray2;
        }
      }
      .intro {
        color: $gray2;
        word-break: break-all;
        line-height: 1.7;
        margin-left: 5%;
        font-family: $font_normal;
        background: rgba(38,39,43,.6);
        padding: 30px 5%;
        @media screen and (max-width: 800px) {
          margin-left: 0%;
        }
      }
    }
  }
}

footer {
  .copyright {
    padding: 15px 0;
    text-align: center;
    color: $gray2;
    background: $base_color;
    font-family: $font_en;
  }
}


#page-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  a {
    display: flex;
    background: $base_color;
    box-shadow: rgb(47 42 37 / 20%) 2px 2px 2px;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 1;
    font-size: 1.2rem;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    transition: all .8s ease;
    &:hover {
      background: rgba(38,39,43,.6);
    }
    i {
      color: #fff;
    }
    span {
      font-size: .8rem;
      padding-top: 2px;
      color: #fff;
      font-family: $font_en;
    }
  }
}

.breadcrumb-box {
  max-width: 1400px;
  .breadcrumb {
    list-style: none;
    overflow: hidden;
    margin-bottom: 30px;
    @media screen and (max-width: 800px) {
      margin-bottom: 0;
    }
    li {
      display: inline;
      list-style: none;
      font-family: $font_en;
      @media screen and (max-width: 800px) {
        margin-bottom: 15px;
      }
      &::after {
        content: '>';
        padding: 0 0.2em;
        color: $base_color;
        font-weight: bold;
      }
      &:first-child {
        i {
          margin-right: 3px;
        }
      }
      &:last-child:after {
        content: '';
      }
      a {
        font-family: $font_en;
        text-decoration: none;
        color: $base_color;
        word-break: break-all;
        font-size: 1rem;
        @media screen and (max-width: 800px) {
          padding: 10px 0;
          display: inline-block;
          border-radius: 5px;
        }
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}