@import 'common';
article {
	h1 {
		margin-bottom: 10px;
		font-family: $font-normal;
		background: rgba(209,209,209,.4901960784);
		padding: 20px;
		font-size: 1.2rem;
		@media screen and (max-width: 800px) {
			font-size: 1.1rem;
		}
	}
	h2 {
		text-align: center;
		font-family: $font-normal;
		margin: 30px 0 0px;
		font-size: 1.2rem;
	}
}
.contact-table {
	width: 100%;
	margin-top: 30px;
	label {
		display: block;
	}
	th {
		text-align: left;
		width: 30%;
		font-family: $font-normal;
	}
	th,td {
		padding: 20px 0;
	}
	input, textarea {
		width: 100%;
		max-width: 100%;
		border: none;
		padding: 1rem 1rem;
		background: #e8e7ea;
		color: $base_color;
		&[type=checkbox] {
			width: auto;
			border: none;
		}
	}
	textarea {
		@media screen and (max-width: 800px) {
		  width: 100%;
		}
	}
}
button {
	background: $base_color;
	color: $gray2;
	display: block;
	width: 40%;
	margin:30px auto 60px;
	padding: 15px 20px;
	transition: all .8s ease;
	cursor: pointer;
	&:hover {
	  opacity: 0.8;
	}
}
.send-comp {
	padding: 30px;
	background: rgba(209,209,209,.4901960784);
	margin-bottom: 80px;
	text-align: center;
	h1 {
		margin-bottom: 0px;
		background: none;
	}
	h2 {
		line-height: 1.3;
		font-size: 1rem;
		font-weight: normal;
		margin: 0;
	}
}