@import 'common';
.article-sec {
  background: #D9D9D9;
  margin-bottom: 40px;
  .thumbnail {
    img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      @media screen and (max-width: 800px) {
        max-height: 30vh;
      }
    }
  }
  .article-head {
    position: relative;
    word-break: break-all;
    line-height: 1.5;
    font-size: 20px;
    padding: 60px 40px 0;
    @media screen and (max-width: 800px) {
      padding: 20px 4%;
    }
    .category {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      a {
        color: #dadada;
        padding: 10px 20px;
        font-size: 20px;
        background: $base_color;
        font-family: $font_en;
        @media screen and (max-width: 800px) {
          font-size: 15px;
        }
      }
    }
    .article-title {
      color: $base_color;
      font-size: 1.5rem;
      margin-top: 40px;
      margin-bottom: 40px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      font-family: $font_normal;
      @media screen and (max-width: 800px) {
        font-size: 1.2rem;
        margin-top: 35px;
        margin-bottom: 20px;
      }
    }
    .date {
      text-align: left;
      margin-bottom: 40px;
      @media screen and (max-width: 800px) {
        margin-bottom: 0;
        font-size: 1.2rem;
      }
      time {
        margin-right: 15px;
        i {
          padding-right: 3px;
          font-size: 1rem;
        }
      }
    }
  }
  .article-contents {
    word-break: break-all;
    line-height: 1.5;
    font-size: 20px;
    padding: 60px 40px;
    font-family: $font_normal;
    @media screen and (max-width: 800px) {
      padding: 20px 4%;
    }
    h2 {
      background: #cbcbcb;
      padding: 20px 15px 18px;
      color: $base_color;
      border-left: 9px solid #725e51;
      line-height: 1.5;
      margin-bottom: 40px;
      font-size: 1.2rem;
    }
    h3 {
      margin-bottom: 40px;
      font-weight: 600;
      letter-spacing: 1.6px;
      padding: 0 15px;
      border-left: 9px solid #725e51;
      color: $base_color;
      font-weight: 600;
      margin-top: 60px;
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 40px;
      color: $base_color;
      i {
        padding-right: 10px;
      }
    }
    a {
      text-decoration: underline;
      color: #457ace;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      background: #cbcbcb;
      padding: 40px 30px 40px 60px;
      margin-bottom: 30px;
      @media screen and (max-width: 800px) {
        padding: 40px 4% 40px 12%;
      }
      li {
        list-style: disc;
        margin-bottom: 10px;
        color: $base_color;
        font-size: 1.1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    ol {
      background: #cbcbcb;
      padding: 40px 30px 40px 60px;
      margin-bottom: 30px;
      @media screen and (max-width: 800px) {
        padding: 40px 4% 40px 12%;
      }
      li {
        margin-bottom: 10px;
        color: $base_color;
        font-size: 1.1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    pre {
      font-size: 18px;
      background: #cbcbcb;
      padding: 40px 25px;
      color: $base_color;
      line-height: 1.5;
      margin-bottom: 40px;
      white-space: pre-wrap;
    }
  }
}

.wn-list {
  margin-bottom: 80px;
  li {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    background: #cfcfd0;
    padding: 10px;
    &:first-child {
      margin-top: 0;
    }
    a {
      &:hover {
        opacity: .8;
        img {
          transform:scale(1.1,1.1);
        }
      }
      picture {
        width: 82px;
        height: 82px;
        display: inherit;
        overflow:hidden;
        img {
          height: 100%;
          object-fit: cover;
          transition: all .8s ease;
        }
      }
    }
  }
}
.wn-list-sentence {
  padding: 0 10px;
  h4 {
    color: #26272b;
    word-break: break-all;
    line-height: 1.2;
    font-family: $font_normal;
    font-weight: normal;
  }
  time {
    margin-bottom: 5px;
    display: block;
    color: #26272b;
    i {
      margin-right: 3px;
      font-size: .8rem;
    }
  }
}
.breadcrumb-box {
  margin-top: 40px;
  max-width: 1300px;
  .breadcrumb {
    list-style: none;
    overflow: hidden;
    margin-bottom: 30px;
    @media screen and (max-width: 800px) {
      margin-bottom: 0;
    }
    li {
      display: inline;
      list-style: none;
      font-family: $font_en;
      @media screen and (max-width: 800px) {
        margin-bottom: 15px;
      }
      &::after {
        content: '>';
        padding: 0 0.2em;
        color: $base_color;
        font-weight: bold;
      }
      &:first-child {
        i {
          margin-right: 3px;
        }
      }
      &:last-child:after {
        content: '';
      }
      a {
        font-family: $font_en;
        text-decoration: none;
        color: $base_color;
        word-break: break-all;
        font-size: 1rem;
        @media screen and (max-width: 800px) {
          padding: 10px 0;
          display: inline-block;
          border-radius: 5px;
        }
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}