@import 'common';
article {
background: #d1d1d17d;
  margin-bottom: 60px;
  .thumbnail {
    img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
  .article-head {
    position: relative;
    word-break: break-all;
    line-height: 1.5;
    font-size: 20px;
    padding: 60px 40px 0;
    @media screen and (max-width: 520px) {
      padding: 20px 4%;
    }
    .category {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      a,span {
        color: $gray2;
        padding: 10px 20px;
        font-size: 20px;
        background: $base_color;
        font-family: $font_en;
        @media screen and (max-width: 520px) {
          font-size: 15px;
        }
      }
    }
    .article-title {
      color: $base_color;
      font-size: 1.5rem;
      margin-top: 40px;
      margin-bottom: 40px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      font-family: $font_normal;
      @media screen and (max-width: 520px) {
        font-size: 1.2rem;
        margin-top: 35px;
        margin-bottom: 20px;
      }
    }
    .date {
      text-align: left;
      margin-bottom: 40px;
      @media screen and (max-width: 520px) {
        margin-bottom: 0;
        font-size: 1.2rem;
      }
      time {
        margin-right: 15px;
		font-size: 1rem;
        i {
          padding-right: 3px;
          font-size: 1rem;
        }
      }
    }
  }
  .article-contents {
    word-break: break-all;
    line-height: 1.5;
    font-size: 20px;
    padding: 60px 40px;
    font-family: $font_normal;
    @media screen and (max-width: 520px) {
      padding: 20px 4%;
    }
    h2 {
      background: #cbcbcb;
      padding: 20px 15px 18px;
      color: $base_color;
      border-left: 9px solid $square_light;
      line-height: 1.5;
      margin-bottom: 40px;
      font-size: 1.2rem;
    }
    h3 {
      margin-bottom: 40px;
      font-weight: 600;
      letter-spacing: 1.6px;
      padding: 0 15px;
      border-left: 9px solid $square_light;
      color: $base_color;
      font-weight: 600;
      margin-top: 60px;
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 40px;
      color: $base_color;
      i {
        padding-right: 10px;
      }
    }
    a {
      text-decoration: underline;
      color: #274f8f;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      background: #cbcbcb;
      padding: 40px 30px 40px 60px;
      margin-bottom: 30px;
      @media screen and (max-width: 520px) {
        padding: 40px 4% 40px 12%;
      }
      li {
        list-style: disc;
        margin-bottom: 10px;
        color: $base_color;
        font-size: 1.1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    ol {
      background: #cbcbcb;
      padding: 40px 30px 40px 60px;
      margin-bottom: 30px;
      @media screen and (max-width: 520px) {
        padding: 40px 4% 40px 12%;
      }
      li {
        margin-bottom: 10px;
        color: $base_color;
        font-size: 1.1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    pre {
      font-size: 18px;
      background: $base_color;
      padding: 40px 25px;
      color: #cbcbcb;
      line-height: 1.5;
      margin-bottom: 40px;
      white-space: pre-wrap;
    }
	img {
		max-width: 100%;
		height: auto;
	}
	.text-center {
		text-align: center;
	}
	table {
		margin-bottom: 40px;
	}
  }
}
.bmi-table {
	width: 100%;
	background: #cbcbcb;
	padding: 30px 20px;
	th {
		line-height: 1;
		font-size: 1.8rem;
		font-weight:700;
	}
	td {
		padding: 0 15px;
		label {
			padding-top: 30px;
			padding-bottom: 10px;
			font-size: 1.3rem;
			text-align: center;
			display: block;
			font-weight: bold;
		}
	}
	.bmi-input {
		color: $base_color;
		background: rgba(188,188,188,0.5);
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		border: 2px solid $base_color;
		transition: all 0.3s;
		padding: 13px;
		width: 100%;
		box-sizing: border-box;
		outline: 0;
		font-family: $font_normal;
		&:focus {
			border:2px solid $base_color;
		}
	}
}

.bmi-result {
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 0px !important;
	border: 2px dashed $square_light;
    padding: 25px;
	background: #fcf7e8;
	color: $square_light;
	span {
		color: $square_light;
		padding: 13px 20px 5px;
		font-size: 2rem;
		border-bottom: 2px solid $square_light;
	}
}
[type="submit"] {
	width: 100%;
	background: $square_light;
	border: 0;
	cursor: pointer;
	color: $gray2;
	font-size: 1.3rem;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all .8s ease;
	font-weight: 700;
	margin-top: 30px;
	&:hover {
		opacity: .8;
	}
}
.bmi-table2 {
	width: 100%;
	border-collapse: collapse;
	// background: #fcf7e8;
	th,td {
		border: 2px solid $base_color;
		padding: 5px;
		text-align: center;
	}
	th {
		background: $base_color;
		color: $gray2;
	}
	td {
		color: $base_color;
	}
}
.bmi-bg {
	background: $square_light;
	td {
		color: $gray2;
	}
}

.read-toggther {
	margin: 20px 0;
	background: #d1d1d17d;
	position: relative;
	a {
		padding: 10px;
		display: flex;
		align-items: center;
		text-decoration: none !important;
		@media screen and (max-width: 520px) {
			align-items: flex-start;
		}
		&:hover {
			opacity: .8;
			img {
				transform:scale(1.1,1.1);
			}
		}
		picture {
			width: 123px;
			height: 82px;
			display: inherit;
			overflow:hidden;
			img {
				height: 100%;
				object-fit: cover;
				transition: all .8s ease;
			}
		}
		.rt-sentence {
			padding: 0 0 0 10px;
			flex: 1;
			h4 {
				color: #26272b;
				word-break: break-all;
				line-height: 1.2;
				font-family: $font_normal;
				font-weight: normal;
				@media screen and (max-width: 520px) {
					font-size: .9rem;
				}
			}
			time {
				margin-top: 6px;
				display: block;
				color: #26272b;
				font-size: .9rem;
				i {
					margin-right: 3px;
					font-size: .9rem;
				}
			}
			span {
				position: absolute;
				right: 0;
				bottom: 0;
				background: #161719;
				color: #fff;
				padding: 2px 10px;
				font-family: $font_en;
				font-size: 1rem;
				@media screen and (max-width: 520px) {
					display: none;
				}
			}
		}
	}
}