@import 'common';
.mainv-sec {
  background: #26272b;
  position: relative;
  z-index: 1;
  height: 600px;
  @media screen and (max-width: 800px) {
    height: 42vh;
    min-height: 250px;
  }
  .container {
    max-width: $base_width;
    position: relative;
    .slide-wrap {
      position: relative;
      z-index: 1;
      padding-top: 40px;
      @media screen and (max-width: 800px) {
        padding-top: 2vh;
      }
      &::after {
        content: '';
        display: block;
        width: 600px;
        height: 520px;
        position: absolute;
        top: 120px;
        right: -80px;
        z-index: 1;
        background-image: repeating-linear-gradient(45deg, #604939 25%, transparent 25%, transparent 75%, #604939 75%, #604939), repeating-linear-gradient(45deg, #604939 25%, #4E3A2C 25%, #4E3A2C 75%, #604939 75%, #604939);
        background-position: 0 0, 40px 40px;
        background-size: 80px 80px;
        @media screen and (max-width: 800px) {
          top: 9vh;
          background-position: 0 0, 20px 20px;
          background-size: 40px 40px;
          width: 80%;
          height: 36vh;
          min-height: 240px;
        }
      }
      .slide-box {
        list-style: none;
        position: relative;
        width: 100%;
        height: 520px;
        margin: 0 auto;
        overflow: hidden;
        z-index: 2;
        background: #26272b;
        @media screen and (max-width: 800px) {
          height: 36vh;
          min-height: 220px;
        }
        picture {
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            transition: 4s linear transform .4s;
            object-fit: cover;
            // filter: grayscale(100%) brightness(100%);
          }
        }
        .zoom {
          img {
            transform: scale(1.07);
          }
        }
      }
    }
    .catch {
      position: absolute;
      top: 60%;
      right: 0;
      z-index: 999;
      text-align: right;
      @media screen and (max-width: 800px) {
        right: 2%;
      }
      h1 {
        color: #fff;
        font-size: 5rem;
        text-shadow: 1px 2px 3px #1c1c1c;
        @media screen and (max-width: 1100px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 800px) {
          font-size: 2rem;
        }
        &.text-animation {
          &.fade-up {
            animation: fade-up 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
          }
        }
        @keyframes fade-up {
          0% {
            transform: translateY(50px);
            opacity: 0;
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.blog-sec {
  .container {
    article {
      .blog-card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .blog-card {
          width: calc((100% - 4%)/3);
          background: #cfcfd0;
          margin: 0 2% 50px 0;
          position: relative;
          word-break: break-all;
          transition: 1s;
          @media screen and (max-width: 1100px) {
            margin-right: 4%;
            width: 48%;
          }
          @media screen and (max-width: 800px) {
            margin-right: 0;
            width: 100%;
          }
          &:nth-of-type(2n) {
            @media screen and (max-width: 1100px) {
              margin-right: 0;
            }
            @media screen and (max-width: 800px) {
              margin-right: 0;
            }
          }
          &:nth-of-type(3n) {
            margin-right: 0;
            @media screen and (max-width: 1100px) {
              margin-right: 4%;
            }
            @media screen and (max-width: 800px) {
              margin-right: 0;
            }
          }
          .blog-card-img {
            width: 100%;
            height: 24vh;
            min-height: 160px;
            overflow:hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all .8s ease;
              // filter: grayscale(100%) brightness(100%);
              &:hover{
                transform:scale(1.1,1.1);
              }
            }
          }
          .blog-card-inner {
            padding: 20px;
            .category {
              position: absolute;
              top: 0;
              left: 0;
              display: grid;
              a {
                background: #26272b;
                color: #dadada;
                padding: 5px 10px;
              }
            }
            time {
              color: #26272b;
              i {
                margin-right: 3px;
              }
            }
            h2 {
              line-height: 1;
              font-size: 1.3rem;
              margin: 15px 0 0;
              font-weight: 600;
              a {
                color: #26272b;
                font-weight: normal;
                &:hover {
                  opacity: .8;
                }
              }
            }
            p {
              line-height: 1.3;
              margin: 10px 0 20px;
              color: #26272b;
              min-height: 43px;
            }
            .btn1 {
              background-color: #604939;
              border: solid thin #604939;
              color: #bdbaba;
              display: inline-block;
              line-height: 1;
              width: 100%;
              padding: 10px 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              -ms-touch-action: manipulation;
              touch-action: manipulation;
              transition: all .8s ease;
              i {
                margin-left: 5px;
              }
              &:hover {
                background-color: transparent;
                border: solid thin #604939;
                color: #604939;
              }
            }
          }
        }
      }
    }
  }
}