@import 'common';
.mainv-sec {
  background: #1e1f21;
  position: relative;
  z-index: 1;
  height: 600px;
  @media screen and (max-width: 520px) {
    height: 240px;
    min-height: calc(240px);
  }
  .container {
    max-width: $base_width;
    position: relative;
    .slide-wrap {
      position: relative;
      z-index: 1;
      padding-top: 40px;
      @media screen and (max-width: 520px) {
        padding-top: 10px;
      }
      &::after {
        content: '';
        display: block;
        width: 600px;
        height: 520px;
        position: absolute;
        top: 120px;
        right: -80px;
        z-index: 1;
        background-image: repeating-linear-gradient(45deg, $square_dark 25%, transparent 25%, transparent 75%, $square_dark 75%, $square_dark), repeating-linear-gradient(45deg, $square_dark 25%, $square_light 25%, $square_light 75%, $square_dark 75%, $square_dark);
        background-position: 0 0, 40px 40px;
        background-size: 80px 80px;
        @media screen and (max-width: 520px) {
          top: 30px;
          background-position: 0 0, 20px 20px;
          background-size: 40px 40px;
          width: calc(100% + 50px);
          height: 220px;
          min-height: 220px;
        }
      }
      .slide-box {
        list-style: none;
        position: relative;
        width: 100%;
        height: 520px;
        margin: 0 auto;
        overflow: hidden;
        z-index: 2;
        background: $base_color;
        @media screen and (max-width: 520px) {
          height: 220px;
          min-height: 220px;
        }
        picture {
			opacity: 0;
			transition: opacity 1s;
			&.current {
				opacity: 1;
				img {
				  transform: scale(1.07);
				}
			  }
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            transition: 4s linear transform .4s;
            object-fit: cover;
          }
        }
        .zoom {
          img {
            transform: scale(1.07);
          }
        }
      }
    }
    .catch {
      position: absolute;
      top: 60%;
      right: 0;
      z-index: 999;
      text-align: right;
      @media screen and (max-width: 520px) {
        right: 2%;
      }
      h1 {
        color: #fff;
        font-size: 5rem;
        text-shadow: 1px 2px 3px #1c1c1c;
        @media screen and (max-width: 1100px) {
          font-size: 3.5rem;
        }
        @media screen and (max-width: 520px) {
          font-size: 1.8rem;
        }
        &.text-animation {
          &.fade-up {
            animation: fade-up 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
          }
        }
        @keyframes fade-up {
          0% {
            transform: translateY(50px);
            opacity: 0;
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.blog-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .blog-card {
    width: calc((100% - 4%)/3);
    background: #d1d1d17d;
    margin: 0 2% 50px 0;
    position: relative;
    word-break: break-all;
    transition: all .8s ease;
    @media screen and (max-width: 1100px) {
      margin-right: 4%;
      width: 48%;
    }
    @media screen and (max-width: 520px) {
      margin-right: 0;
      width: 100%;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
      @media screen and (max-width: 1100px) {
        margin-right: 4%;
      }
      @media screen and (max-width: 520px) {
        margin-right: 0;
      }
    }
    &:nth-of-type(2n) {
      @media screen and (max-width: 1100px) {
        margin-right: 0;
      }
      @media screen and (max-width: 520px) {
        margin-right: 0;
      }
    }
    .blog-card-img {
      width: 100%;
      height: 160px;
      overflow:hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .8s ease;
        &:hover{
          transform:scale(1.1);
        }
      }
    }
    .blog-card-inner {
      padding: 20px;
      .category {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        background: $base_color;
        color: $gray2;
        padding: 5px 10px;
      }
      time {
        color: $base_color;
        i {
          margin-right: 3px;
        }
      }
      h2 {
        line-height: 1.3;
        font-size: 1.3rem;
        margin: 15px 0 0;
        font-weight: 600;
		@media screen and (max-width: 520px) {
		  height: auto;
		}
        a {
          color: $base_color;
          font-weight: normal;
          &:hover {
            opacity: .8;
          }
        }
      }
      p {
        line-height: 1.3;
        margin: 15px 0 0;
        color: $base_color;
        min-height: 43px;
        a {
          color: $base_color;
          .btn1 {
            background-color: $square_light;
            border: solid thin $square_light;
            color: #bdbaba;
            display: inline-block;
            line-height: 1;
            width: 100%;
            padding: 15px 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            transition: all .8s ease;
            margin-top: 15px;
            i {
              margin-left: 5px;
            }
            &:hover {
              background-color: transparent;
              border: solid thin $square_dark;
              color: $square_dark;
            }
          }
        }
      }
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  .pagination-Item-Link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background: $gray2;
    border: solid 2px $base_color;
    font-size: 14px;
    color: $base_color;
    font-weight: bold;
	transition: all .8s ease;
    &.isActive {
      background: $base_color;
      color: $gray2;
      pointer-events: none;
    }
    &:not(.isActive):hover {
      background: $base_color;
      color: $gray2;
    }
  }
  > * + * {
    margin-left: 8px;
  }
}